.seemy {
  color: black;
}

.account {
  color: rgba(128, 128, 128, 0.557);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.arrow {
  color: rgb(19, 168, 226);
}

.github {
  font-family: "Courier New", Courier, monospace;
}
